


/* index page styling */
/* color scheme idea:
A. 9247AD: purple hueish color
B. F25D75: pinkish
C. 5B56B6: purply bluish color
D. F2FC61: straight up yellow!
*/
#nav_bar ul {
 	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: 333;
  align-content: center;

}
 #nav_bar {
   align-items: center;
   /*align-content: center;
   background-color: blue;
   float: center;
 }*/
 }


li {
	float:left;
  background-color: yellow;
}
li a {
	display: inline;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
 li a:hover {
	 background-color: #FFC300;
 }

#header {
	/*Place the Header/Title section across the top of the site with a border and appropriate background color. What's apropriate?*/
	background: #D3D3D3;
	font: Impact;
	font-size: 20px;
	text-align: center;
	font-style: bold;
	font-variant: normal;
	border-left: dotted 5px #F25D75;
	border-right: dotted 5px #F25D75;
	border-top: dotted 5px #F25D75;
	border-bottom: dotted 5px #F25D75;
	letter-spacing: 0.1em;
  opacity: .5;
}

#main_content li {
  display: inline-block;
  margin-left: 20px;
  margin: auto;
}
/*<ul style="list-dash-style: none; ul>"*/
body {
  /*image of giant road. */
	background-image: url( http://www.mycoolbackgrounds.com/backgrounds/22921/Journey%20in%20Motion,%20Great%20Smoky%20Mountains%20National%20Park,%20Tennessee.jpg);
  background-repeat: no-repeat;
}

ul {
	/*gets rid of bullets.*/
  list-style-type: none;
}

.books img {
  max-height: 10em;
}












#author_pic {
	display: block;
	width: 200px;
	height: auto;
}

footer ul {
	list-style-type: none;
	/*#not working.*/
	text-transform: capitalize;
	font-size: 14px;
	width: 1200px;
}

footer li {
	text-align: center;
	display: inline-block;
  background-color: blue;
}
footer li a {
	list-style-type: none;
	width: 100px;
	position: relative;
}
footer h3 {
	display: flex;
}



/*.img {
  display: inline-block;
  width:auto;
  height: 20px;
}*/
/*if I wanted to make the pictures side by side to each other. I'd I've have to label pics?*/
